{% extends 'profile.html' %}

{% block f_profile_edit %}
<div class="container">
    <hr>
    <div class="row">
        <div class='col' id="login_camp">
            <form method='POST' action="" class="border p-4 mt-2", enctype="multipart/form-data">
                {{ f_editprofile.csrf_token }}
                <fieldset>
                    <legend>Profile Edit</legend>
                    <div class='form-group'>
                        {{ f_editprofile.username.label(class='form-control-label') }}
                        {% if f_editprofile.username.errors %}
                            {{ f_editprofile.username(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in f_editprofile.username.errors %}
                                    {{ error }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ f_editprofile.username(class='form-control') }}
                        {% endif %}
                    </div>
                    <div class='form-group'>
                        {{ f_editprofile.email.label(class='form-control-label') }}
                        {% if f_editprofile.email.errors %}
                            {{ f_editprofile.email(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in f_editprofile.email.errors %}
                                    {{ error }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ f_editprofile.email(class='form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ f_editprofile.profile_img.label }}
                        {{ f_editprofile.profile_img(class='form-control-file') }}
                        {% if f_editprofile.profile_img.errors %}
                            {% for error in f_editprofile.profile_img.errors %}
                                <span class='text-danger'>{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <hr>
                    <p>Contents</p>
                    {% for field in f_editprofile %}
                        {% if 'knowledge' in field.name %}
                            <div class='form-group'>
                                {{ field(class='form-check-input') }}
                                {{ field.label(class='form-check-label') }}
                            </div>
                        {% endif %}
                    {% endfor %} 
                </fieldset>
                {{ f_editprofile.btnsubmit_editprofile(class='btn btn-primary mt-2') }}  
            </form>
        </div>
    </div>
</div>

{% endblock %}
