{% extends 'default.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class='col' id="login_camp">
            <h1><strong> Login </strong></h1>
            {{ f_login.email }}
            <hr>
            {{ f_login.password }}
        </div>
        <div class='col' id="signup_camp">
            <h1><strong>Create Account</strong></h1>
            {{ f_createacc.username }}
            {{ f_createacc.email }}
            {{ f_createacc.password }}
            {{ f_createacc.pw_confirmation }}
        </div>
    </div>
</div>
{% endblock %}